.gRule {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10000;
    /* max-width: 7.5rem; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .62);
}

.ruleBox {
    position: absolute;
    z-index: 5;
    top: 2.6rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    width: 5.2rem;
    border-radius: .08rem;
    text-align: center;
}

.ruleBox .rClose {
    position: absolute;
    bottom: -.8rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.ruleBox .rClose i {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-position: -3.98rem -.05rem;
    position: relative;
}

.ruleBox .rTitle {
    position: relative;
    width: 100%;
    margin-top: -1rem;
    background: #FF9301;
    background-size: 100% 100%;
    text-align: center;
    border-top-left-radius: .08rem;
    border-top-right-radius: .08rem;
}

.ruleBox .rTitle>i {
    display: block;
    width: .71rem;
    height: .7rem;
    background-position: -8.55rem -3.54rem;
    position: absolute;
    top: -.42rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #63BF3D;
    border: .09rem solid #63BF3D;
    border-radius: 50%;
}

.ruleBox .rTitle p {
    font-size: .3rem;
    color: #fff;
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.ruleBox .rTitle p>i {
    display: inline-block;
    width: .24rem;
    height: .26rem;
    background-position: -3.19rem -.05rem;
    position: relative;
    top: .02rem;
    margin-right: .12rem;
}

.ruleBox .rSure {
    display: block;
    width: 3.28rem;
    height: .6rem;
    border: 0;
    background: #FF9301;
    color: #fff;
    font-size: .28rem;
    border-radius: .08rem;
    line-height: .6rem;
    margin: .3rem auto;
    overflow: hidden;
    white-space: nowrap;
}

.ruleMain {
    display: block;
    width: 4.68rem;
    height: 4.4rem;
    border: none;
    padding: 0 .26rem;
    line-height: .42rem;
    font-size: .24rem;
    color: #4c4c4c;
    margin: .26rem auto;
    overflow: auto;
}

.ruleMain p {
    text-align: left;
}

.ruleMain strong {
    display: block;
    color: #454545;
    line-height: .52rem;
    font-size: .26rem;
    font-weight: bold;
    text-indent: 0em;
    text-align: left;
}

/* rule */
.gPrivacy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10000;
    /* max-width: 7.5rem; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .62);
}

.privacyBox {
    position: absolute;
    z-index: 5;
    top: 2.6rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    width: 5.2rem;
    border-radius: .08rem;
    text-align: center;
}

.privacyBox .pClose {
    position: absolute;
    bottom: -.8rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.privacyBox .pClose i {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-position: -3.98rem -.05rem;
    position: relative;
}

.privacyBox .pTitle {
    position: relative;
    width: 100%;
    margin-top: -1rem;
    background: #FF9301;
    background-size: 100% 100%;
    text-align: center;
    border-top-left-radius: .08rem;
    border-top-right-radius: .08rem;
}

.privacyBox .pTitle>i {
    display: block;
    width: .71rem;
    height: .7rem;
    background-position: -8.55rem -3.54rem;
    position: absolute;
    top: -.42rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #63BF3D;
    border: .09rem solid #63BF3D;
    border-radius: 50%;
}

.privacyBox .pTitle p {
    font-size: .3rem;
    color: #fff;
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.privacyBox .pTitle p>i {
    display: inline-block;
    width: .24rem;
    height: .26rem;
    background-position: -3.19rem -.05rem;
    position: relative;
    top: .02rem;
    margin-right: .12rem;
}

.privacyBox .pSure {
    display: block;
    width: 3.28rem;
    height: .6rem;
    border: 0;
    background: #FF9301;
    color: #fff;
    font-size: .28rem;
    border-radius: .08rem;
    line-height: .6rem;
    margin: .3rem auto;
    overflow: hidden;
    white-space: nowrap;
}

.privacyMain {
    display: block;
    width: 4.68rem;
    height: 4.4rem;
    border: none;
    padding: 0 .26rem;
    line-height: .42rem;
    font-size: .24rem;
    color: #4c4c4c;
    margin: .26rem auto;
    overflow: auto;
}

.privacyMain p {
    text-align: left;
}

.privacyMain strong {
    display: block;
    color: #454545;
    line-height: .52rem;
    font-size: .26rem;
    font-weight: bold;
    text-indent: 0em;
    text-align: left;
}

.detailInfo {
    background: #FFF;
    padding: 0 0.3rem;
}

.detailInfo ul.flex-info {
    font-size: 14px;
    color: #636363;
}

ul.flex-info {
    background-color: #fff;
    width: 100%;
    padding: 0 0.3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.5px;
}

ul.flex-info li {
    line-height: 1.5;
    font-size: 14px;
    color: #666;
    cursor: default;
    width: 50%;
    margin-top: 5px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
}

ul.flex-info li em {
    font-style: normal;
}

ul.flex-info li:empty {
    display: none;
}